<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <span class="application-version">@_applicationVersion</span>
        <a class="navbar-brand" href="">Baka music application</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="sidebar-content @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="player">
                    <span class="oi oi-musical-note" aria-hidden="true"></span> Player
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="youtube">
                    <span class="oi oi-plus" aria-hidden="true"></span> Youtube
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="songmanager">
                    <i class="material-icons">build</i> Song Manager
                </NavLink>
            </li>
        </ul>
    </div>
</div>
