################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicPlayer/MusicPlayer.FunctionalTest/bin
/MusicPlayer/MusicPlayer.FunctionalTest/obj
/MusicPlayer/MusicPlayer.UnitTest/bin
/MusicPlayer/MusicPlayer.UnitTest/obj
/MusicPlayer/.vs/MusicPlayer/v16
/MusicPlayer/MusicPlayerApplication/bin
/MusicPlayer/MusicPlayerApplication/obj
/MusicPlayer/MusicPlayerApplication/MusicPlayerApplication.csproj.user
/MusicPlayer/.vs/MusicPlayer/DesignTimeBuild
/MusicPlayer/.vs/MusicPlayer/config
/MusicPlayer/.vs/MusicPlayer
/MusicPlayer/MusicPlayerApplication/appsettings.Development.json
/MusicPlayer/.vs/ProjectEvaluation
MusicPlayer/MusicPlayerApplication/wwwroot/certificate.crt
MusicPlayer/MusicPlayerApplication/wwwroot/private.key
