<h3>Télécharger ici les musiques</h3>

<RadzenRow>
    <RadzenColumn>
        <RadzenTextBox @bind-Value=@ViewModel.Model.Url Placeholder="Url" Style="width:100%;" />
    </RadzenColumn>

    <RadzenColumn Size="2">
        <RadzenButton Click="@( async (args) => await ViewModel.DownloadMusicAsync())" Icon="download"
            ButtonStyle="ButtonStyle.Primary" Disabled="string.IsNullOrEmpty(ViewModel.Model.Url)" />
    </RadzenColumn>
</RadzenRow>
