<h3>Télécharger ici les musiques</h3>

<div>
    <input @bind-value="@ViewModel.Model.Url" type="text" placeholder="Url" />
    <button class="btn btn-primary" @onclick="ViewModel.DownloadMusicAsync">Download</button>
</div>
