.player {
    background: var(--background-color);    
    max-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player .cover {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player>.cover>img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.75;
}

.player .cover .song-presentation {
    margin: 1rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player .cover .song-presentation .song-title {
    color: white;
}

.player .player-ui {
    position: relative;
}

.player .player-ui .title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.player .player-ui .title h3 {
    margin: 0;
    color: white;
    font-size: 1.875rem;
    font-weight: 100;
}

.player .player-ui .controls,
.player .player-ui .small {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player .player-ui .controls i,
.player .player-ui .small i {
    color: white;
}

.player .player-ui .controls i {
    font-size: 3rem;
}

.player .player-ui .small i {
    font-size: 1.5rem;
}

.player .player-ui .controls .disabled {
    color: gray;
    cursor: default;
}

.player .player-ui .small .random-icon.no-random {
    color: gray;
}

.play-icon {
    border-radius: 50%;
    border: 1px solid;
    padding: 1rem;
}

#songProgressbar {
    height: 0.250rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.125rem;
    cursor: pointer;
    width: 100%;
}

.song-artist{
    font-style: italic;
    color: var(--border-color);
}

.hidden {
    transform: display 2s;
    display: none;
}

@media only screen and (min-width:640px) {
    #songProgressbar {
        height: 0.125rem;
    }

    .player {
        box-shadow: 0px .125rem .625rem rgba(0, 0, 0, 0.6);
        margin: auto;
        border-radius: 1rem;
    }

    .player .cover img{
        border-radius: 1rem;
    }

    .player .player-ui{
        padding: 1rem;
    }
}