.music {
    padding: .625rem 1.25rem 0px 1.25rem;
    background: #1a1b1e;
    height: 40%;
    overflow: auto;
}

    .music::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: .625rem;
        background-color: #F5F5F5;
    }

    .music::-webkit-scrollbar {
        width: .75rem;
        background-color: #F5F5F5;
    }

    .music::-webkit-scrollbar-thumb {
        border-radius: .625rem;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    .music .song {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

        .music .song .info {
            display: flex;
            align-items: center;
        }

            .music .song .info .img > img {
                width: 3.75rem;
                height: 3.75rem;
                background: red;
                margin-right: .625rem;
            }

            .music .song .info .titles h5,
            .music .song .info .titles p {
                margin: 0;
                color: white;
            }

            .music .song .info .titles h5 {
                font-size: 0.8rem;
                font-weight: 400;
                margin-bottom: .4375rem;
            }

            .music .song .info .titles p {
                font-size: .6rem;
                color: #929292;
            }

        .music .song .state {
            display: flex;
            flex-direction: row;
        }

            .music .song .state i {
                color: #ddd;
                cursor: pointer;
            }
